asgiref==3.4.1
awsebcli==3.19.4
Django==4.0.5
botocore
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.3
django_heroku==0.3.1
djangorestframework==3.13.1
SQLAlchemy==1.4.7
gunicorn==20.1.0
docutils==0.15.2
future==0.16.0
idna==3.3
jmespath==0.10.0
pathspec==0.5.9
pyasn1==0.4.8
python-dateutil==2.8.2
pywin32==302
PyYAML==5.3.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
typing-extensions==3.10.0.2
urllib3==1.25.11
wcwidth==0.1.9